@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: Algoritm;
  src: url(./assets/fonts/Inter-Light.otf);
}

@font-face {
  font-family: Nohemi;
  src: url(./assets/fonts/Nohemi-SemiBold-BF6438cc57db2ff.woff);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / (1280 / 10));
}

body {
  background-color: #000000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.nav_links button {
  font-family: Algoritm;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: transparent;
  margin-left: 3rem;
  border: none;
  color: #FFFFFF80;
}


.number{
    margin-right: 3rem;
}

.active{
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    color: #000000 !important;
    background-color: #F8D800 !important;
}

.left_side_header{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  border-radius: 3rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.header_title{
  font-size: 3.6rem;
  color: #FFFFFF;
  font-family: Nohemi;
  max-width: 55rem;
  transform: translateY(3rem);
  margin-left: 4rem;
}

.header_desc{
  font-family: Algoritm;
  color: #FFFFFFB2;
  max-width: 45rem;
  margin-top: 4rem;
  margin-left: 4rem;
}

.header_title span{
  border-bottom: 0.2rem solid #F8D800;
  border-radius: 0.7rem;
}

.left_side_inside_con{
  display: flex;
}

.headers_con{
  display: flex;
  gap: 1rem;
  margin-top: 10rem;
  
}

.first_header{
  width: 4.5rem;
  height: 0.4rem;
  background-color: #FFE000;
  border-radius: 1rem;
  margin-left: 4rem;
}

.second_header, .third_header, .fourth_header{
  background-color: #FEFFE780;
  width: 4.5rem;
  height: 0.4rem;
  border-radius: 1rem;
}

.wasd_pic{
  width: 12.7rem;
  height: 12.7rem;
  margin-left: 15rem;
}

.two_top_headers{
  display: flex;
}

.right_side_header{
  background-image: url(./assets/imgs/Subtract.png);
  background-repeat: no-repeat;
  background-position:0 50%;
  background-size: cover;
  margin-top: 2rem;
  width: 54.9rem;
  height: 31.7rem;
  margin-left: 5rem;
}

.free_consulting{
  color: #F8D800;
  font-size: 3.6rem;
  font-family: Nohemi;
  margin-top: 7rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.consulting_desc{
  font-family: Algoritm;
  font-size: 1.2rem;
  color: #FFFFFFB2;
  max-width: 42rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.agree{
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateY(3rem) translateX(2rem);
}

.agree_or_disagree{
  width: 2rem;
  height: 2rem;
}

.agree_or_disagree_text{
  font-family: Algoritm;
  font-size: 1.2rem;
  color: #FFFFFFB2;
}


.agree_or_disagree_text span{
  border-bottom: 0.2rem solid #FFFFFFB2;
}

.name{
  width: 42.1rem;
  height: 5.9rem;
  background-color: transparent;
  border: 0.1rem solid #DEC400;
  border-radius: 1rem;
  text-indent: 1rem;
  color: #FFFFFFB2;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.name::placeholder{
  color: #FFFFFFB2;
  font-size: 2rem;
  font-family: Algoritm;
}


.number1{
  width: 26.4rem;
  height: 5.9rem;
  background-color: transparent;
  border: none;
  background-color: #FFFFFF0D;
  outline: none;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #FFFFFFB2;
  font-size: 2rem;
  text-indent: 1rem;
}


.yuborish{
  background-color: #F8D800;
  width: 14.5rem;
  height: 5.9rem;
  border-radius: 1rem;
  color: #000000;
  font-family: Algoritm;
  font-size: 2rem;
  margin-left: 2rem;
}


.first_sec_desc{
  color: #FFFFFF;
  font-size: 3.6rem;
  font-family: Nohemi;
  margin-top: 4rem;
  margin-left: 3rem;
}

.first_sec_desc span{
  color: #F8D800;
}

.stats_con{
  display: flex;
}

.first_stats{
  display: flex;
  flex-direction: column;
  background-image: url(./assets/imgs/background.svg);
  background-repeat: no-repeat;
  margin-left: 4rem;
  margin-top: 2rem;
}

.first_stats h1{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.first_stats h2{
  color: #FFFFFFB2;
  font-family: Nohemi;
  font-size: 1.6rem;
  max-width: 25rem;
  margin-left: 2rem;
}


.award{
  width: 10rem;
  height: 12rem;
  margin-left: 12rem;
  margin-bottom: 10rem;
}

.second_stats{
  display: flex;
  flex-direction: column;
  background-image: url(./assets/imgs/Rectangle\ 28.svg);
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-left: 2rem;
}

.second_stats h1{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-left: 2rem;
  /* width: 28.4rem;
  height: 29.8rem; */
}

.second_stats h2{
  color: #FFFFFFB2;
  font-family: Nohemi;
  font-size: 1.2rem;
  max-width: 25rem;
  margin-left: 2rem;

}


.person_and_attention{
  width: 21.5rem;
  height: 18.3rem;
  margin-right: 4rem;
  margin-left: 5rem;
}


.third_stats{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-image: url(./assets/imgs/Subtraback.svg);
  background-repeat: no-repeat;
}

.third_desc{
  color: #FFFFFF;
  font-family: Nohemi;
  max-width: 40rem;
  font-size: 2.5rem;

  margin-top: 2rem;
  margin-left: 4rem;
}
.third_desc span{
  color: #F8D800;
}

.two_sided_stats{
  display: flex;
}

.coding{
  display: flex;
  gap: 2rem;
}

.design{
  display: flex;
  gap: 8rem;
}

.first_type{
  color: #FFFFFF80;
  font-size: 2.5rem;
  font-family: Nohemi;
  margin-top: 1rem;
  margin-left: 4rem;
}

.second_type{
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: Nohemi;
  margin-top: 1rem;
}

.design_pic{
  width: 21rem;
  height: 21rem;
  margin-top: -1.8rem;
}

.last_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.2rem;
  max-width: 25rem;
  margin-top: -8rem;
  margin-left: 4rem;
}

.second_section_desc{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-left: 3rem;
}

.second_section_desc span{
  color: #F8D800;
}

.containers_con{
  display: flex;
}

.competitions{
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 15.4rem;
  border-radius: 1.6rem;
}

.top_competitions{
  display: flex;
  gap: 6rem;
}

.img_competitions{
  background-image: url(./assets/imgs/Ellipse\ 1.png);
  background-position: center;
  background-size: cover;
}

.top_competitions h1{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.img_competitions{
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.comp_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.6rem;
  max-width: 35rem;
  margin-left: 3rem;
  margin-top: 0;
}


.education{
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 15.4rem;
  border-radius: 1.6rem;
}

.top_education{
  display: flex;
  gap: 6rem;
}

.img_education{
  background-image: url(./assets/imgs/Ellipse\ 1.png);
  background-position: center;
  background-size: cover;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 18rem;
}

.top_education h1{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.education_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.6rem;
  max-width: 35rem;
  margin-left: 3rem;
  margin-top: 0;
}

.work{
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 15.4rem;
  border-radius: 1.6rem;
}

.top_work{
  display: flex;
  gap: 6rem;
}

.img_work{
  background-image: url(./assets/imgs/Ellipse\ 1.png);
  background-position: center;
  background-size: cover;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 0rem;
}

.top_work h1{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.work_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.6rem;
  max-width: 35rem;
  margin-left: 3rem;
  margin-top: 0;
}

.certificate{
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 15.4rem;
  border-radius: 1.6rem;
}

.top_certificate{
  display: flex;
  gap: 6rem;
}

.img_certificate{
  background-image: url(./assets/imgs/Ellipse\ 1.png);
  background-position: center;
  background-size: cover;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 23rem;
}

.top_certificate h1{
  color: #FFFFFF;
  font-family: Nohemi;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.certificate_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.6rem;
  max-width: 35rem;
  margin-left: 3rem;
  margin-top: 0;
}



.secondsec_desc{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 4rem;
  margin-left: 3rem;
}

.containers_con_second{
  display: flex;
}

.secondsec_desc span{
  color: #F8D800 !important;
}

.first_course{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 18.3rem;
  border-radius: 1.6rem;
  margin-left: 3rem;
  margin-top: 2rem;
}


.top_first_course{
  display: flex;
  height: 10rem;
}

.top_first_course h1{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 4rem;
  margin-left: 3rem;
}

.web_dev{
  width: 12.3rem;
  height: 12.5rem;
  margin-left: 10rem;
  margin-top: 2rem;
}

.first_course_titile{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 2rem;
  max-width: 35rem;
  margin-left: 3rem;
}

.second_course{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 18.3rem;
  border-radius: 1.6rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.top_second_course{
  display: flex;
  height: 10rem;
}

.top_second_course h1{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 4rem;
  margin-left: 3rem;
}

.backend{
  width: 11.2rem;
  height: 14.3rem;
  margin-left: 20rem;
  margin-top: 1.5rem;
}

.backend_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 2rem;
  max-width: 35rem;
  margin-left: 3rem;
}

.third_course{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 18.3rem;
  border-radius: 1.6rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.top_third_course{
  display: flex;
  height: 10rem;
}

.top_third_course h1{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 4rem;
  margin-left: 3rem;
}

.scratch{
  width: 14.9rem;
  height: 14.3rem;
  margin-left: 20rem;
  margin-top: 2rem;
}

.scratch_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 2rem;
  max-width: 35rem;
  margin-left: 3rem;
}

.fourth_course{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 18.3rem;
  border-radius: 1.6rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.top_fourth_course{
  display: flex;
  height: 10rem;
}

.top_fourth_course h1{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 4rem;
  margin-left: 3rem;
}

.designone{
  width: 14.2rem;
  height: 13.4rem;
  margin-left: 12rem;
  margin-top: 2rem;
}

.grafik_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 2rem;
  max-width: 30rem;
  margin-left: 3rem;
}

.fifth_course{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 18.3rem;
  border-radius: 1.6rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.top_fifth_course{
  display: flex;
  height: 10rem;
}

.top_fifth_course h1{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 4rem;
  margin-left: 3rem;
}

.python{
  width: 18.3rem;
  height: 18.3rem;
  margin-left: 8rem;
}

.python_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 2rem;
  max-width: 30rem;
  margin-left: 3rem;
}

.sixth_course{
  background-color: #FFFFFF1A;
  width: 57.1rem;
  height: 18.3rem;
  border-radius: 1.6rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.top_sixth_course{
  display: flex;
  height: 10rem;
}

.top_sixth_course h1{
  font-size: 3.6rem;
  font-family: Nohemi;
  color: #FFFFFF;
  margin-top: 3rem;
  margin-left: 3rem;
  max-width: 35rem;
}

.savodxonlik{
  width: 9.7rem;
  height: 13rem;
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.savodxonlik_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 2rem;
  max-width: 30rem;
  margin-left: 3rem;
  margin-top: 1rem;
}


.mentors_desc{
  font-family: Nohemi;
  font-size: 3.6rem;
  color: #FFFFFF;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.first_creator{
  display: flex;
  align-items: center;
  margin-top: -2rem;
  margin-left: 3rem;
}

.pfp{
  width: 16.2rem;
  height: 16.7rem;
}

.texts_first_con {
  position: relative;
  background-image: url(./assets/imgs/Subtract\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 41.9rem;
  height: 13.7rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  margin-left: -0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* .texts_first_con{
  background-image: url(./assets/imgs/Subtract\ \(1\).png);
  background-repeat: no-repeat;
  width: 41.9rem;
  height: 13.7rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  margin-left: -0.5rem;
} */

.texts_first_con h1{
  color: #FFFFFF;
  font-size: 3rem;
  max-width: 25rem;
  font-family: Nohemi;
  margin-top: 1rem;
  margin-left: 1rem;
}


.texts_first_con h2{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.expierence_jalilov{
  font-size: 1.2rem !important;
  margin-top: -4rem;
}

.desc_jalilov{
  font-size: 1rem !important;
}


.creators_con{
  display: flex;
}
/* 
.texts_first_con::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: inherit;
}

.texts_first_con:hover::after {
  background-color: rgba(248, 216, 0, 0.4); /* sariq rang shaffof */
/* } */

/* matnlarni yuqorida ushlab turish */
.texts_first_con * {
  position: relative;
  z-index: 1;
}

.texts_first_con:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(87%) saturate(829%) hue-rotate(1deg) brightness(103%) contrast(101%);
} */



/* sariq overlay */
.texts_first_con::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: inherit;
  z-index: 0;
}

/* hover holati – sariq rang chiqadi */
.texts_first_con:hover::after {
  background-color: #F8D800;
}

/* matnlarni ustida qoldiramiz */
.texts_first_con * {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

/* hover bo‘lganda matn rangi qora bo‘lsin */
.texts_first_con:hover h1,
.texts_first_con:hover h2 {
  color: #000;
}

.map{
  width: 56.1rem;
  height: 35.8rem;
  margin-top: 2rem;
  margin-left: 3rem;
  border-radius: 3rem;
}

.first_location, .second_location{
  width: 56.1rem;
  height: 17.2rem;
  background-color: #FFFFFF1A;
  margin-top: 1rem;
  border-radius: 1.6rem;
  margin-left: 2rem;
}

.first_location{
  margin-top: 2rem;
}

.location{
  display: flex;
}


.location_desc{
  font-family: Nohemi;
  font-size: 3.6rem;
  color: #FFFFFF;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

._location_spe_first{
  font-family: Nohemi;
  font-size: 2.4rem;
  color: #FFFFFF;
  max-width: 45rem;
  margin-left: 3rem;
  transform: translateY(2rem);
}

.desc_first_location{
  display: flex;
}

.moljal, .time, .phone{
  color: #FFFFFF80;
  font-size: 1.6rem;
  font-family: Algoritm;
  margin-top: 3rem;

}

.moljal, .moljal_desc{
  margin-left: 4rem;
}

.time, .time_desc{
  margin-right: 2rem;
}

.moljal_desc, .time_desc, .phone_desc{
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: Algoritm;
}


.moljal_desc{
  max-width: 25rem !important;
}


.free_con{
  width: 95%;
  height: 21.7rem;
  background-image: url(./assets/imgs/Subtract\ \(2\).png);
  background-repeat: no-repeat;
  margin-left: 15rem;
  margin-top: 4rem;
}

.bepul_konsultatsiya{
  color: #F8D800;
  font-family: Nohemi;
  font-size: 3.6rem;
  transform: translateY(1rem);
  margin-left: 2rem;
}

.konsultatsiya_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.formal{
  display: flex;
}

.agree_or_nah{
  display: flex;
}

.formal form{
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
  gap: 2rem;
}

.name11{
  background-color: transparent;
  border: 0.1rem solid #DEC400;
  width: 26.2rem;
  height: 5.9rem;
  border-radius: 1rem;
  font-size: 2rem;
  text-indent: 1rem;
  color: #FFFFFFB2;
}

.number11{
  background-color: #FFFFFF0D;
  width: 26.4rem;
  height: 5.9rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: #FFFFFFB2;
  border: none;
  outline: none;
  text-indent: 1rem;
}

.apply_for{
  background-color: #F8D800;
  color: #000000;
  font-size: 1.6rem;
  font-family: Algoritm;
  border-radius: 1rem;
  width: 22.3rem;
  height: 5.9rem;
}

.agree_desc span{
  text-decoration: underline;
}


.agree11{
  /* margin-top: rem; */
  margin-left: -1.5rem;
}

.agree_desc{
  color: #FFFFFFB2;
  font-family: Algoritm;
  font-size: 1rem;
  max-width: 13rem;
  margin-top: 1.4rem;
}

.last_div_perform{
  background-color: #FFFFFF1A;
  width: 90%;
  margin-left: 3rem;
  height: 44rem;
  border-radius: 1rem;
}

.top_last_div{
  display: flex;
}


.top_last_div h1{
  font-family: Nohemi;
  font-size: 6.4rem;
  color: #FFFFFF;
  max-width: 85rem;
  margin-top: 4rem;
  margin-left: 2rem;
}


.img_back{
  background-image: url(./assets/imgs/Subtract\ \(3\).png);
  width: 7.2rem;
  height: 7.2rem;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 12rem;
}

.img_back img{
  width: 1.8rem;
  height: 3.3rem;
  margin-top: -1rem;
  margin-left: -1rem;
}

.top_last_div h1>span{
  border-bottom: 0.3rem solid #F8D800;
}


.bottom_last_div{
  display: flex;
}

.bottom_last_div h1{
  color: #FFFFFFB2;
  font-size: 4rem;
  font-family: Algoritm;
  max-width: 80rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.wasd_picture{
  width: 20.3rem;
  height: 20.3rem;
  margin-left: 6rem;
  margin-top: 6rem;
}




@media only screen and (max-width: 430px) {
  .two_top_headers{
    display: flex;
    flex-direction: column;
  }

  .left_side_header{
    width: 37rem;
  }
}
